@font-face {
    font-family: 'Nunito Sans';
    src: url('../library/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../library/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf');
    font-weight: 100 900;
    font-style: italic;
}
/* css của trần quốc tuấn */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif; 
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ============================================================
    HEADER & TOPBAR
    ============================================================ */
.topbar {
    background: #111111;
    padding: 10px 0;
}

.topbar-text {
    color: #ffffff;
    font-size: 15px;
}

.topbar-link {
    color: #ffffff !important;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none !important;
    margin-right: 25px;
    display: inline-block;
}

.currency-label {
    color: #ffffff !important;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.currency .dropdown-toggle::after {
    display: inline-block !important;
    margin-left: 5px;
    vertical-align: middle;
}
.header-icons a span{
    color: #0d0d0d;
    font-size: 11px;
    position: absolute;
    left: 6px;
    top: 15px;
}
/* DROPDOWN MENU */
.navbar .dropdown-menu {
    background-color: #111111;
    border: none;
    border-radius: 0;
    line-height: 10px;
    min-width: 150px;
}

.navbar .dropdown-item {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 25px;
    transition: color 0.2s, background-color 0.2s;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: #111111;
}

.navbar {
    background: #ffffff;
    padding: 0;
    border-bottom: 1px solid #f2f2f2;
}

.logo {
    padding: 30px 0;
    display: inline-block;
}

.logo img {
    width: 196px;
    height: 23px;
    display: block;
}

.nav-list {
    padding: 26px 0 25px !important;
}


.nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #111111 !important;
    text-transform: capitalize;
    padding: 5px 0 !important;
    margin: 0 25px;
    position: relative;
    display: inline-block;
    text-decoration: none !important;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e63333; 
    transform: scaleX(0);      
    transform-origin: center;  
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);     
}

.nav-item.dropdown .dropdown-toggle::after {
    display: none !important;
}

.header-icons {
    padding: 30px 0;
}

.header-icons a {
    position: relative;
    display: inline-block;
    line-height: 0;
    margin-left: 20px;
}

.header-icons img {
    width: 20px;
    height: auto;
}

.cart-count {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: 700;
    color: #111111;
    background: transparent;
    width: auto;
    height: auto;
}

.cart-total {
    font-size: 15px;
    font-weight: 700;
    color: #111111;
    margin-left: 5px;
}

/* ============================================================
    HERO SECTION
    ============================================================ */
.hero {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.hero-swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f3f2ee;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
    z-index: 0;
}

.swiper-slide .container {
    position: relative;
    z-index: 2;
    padding-top: 230px;
    height: 100%;
}

.hero-content {
    max-width: 530px;
}

.hero-subtitle {
    color: #e63333;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 28px;
    display: block;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: #111111;
    display: block;
    line-height: 1.2;
    margin: 0 0 30px 0;
    letter-spacing: -0.5px;
}

.hero-desc {
    font-size: 16px;
    line-height: 28px;
    color: #3d3d3d;
    margin-bottom: 35px;
    max-width: 460px;
}


.btn-custom {
    display: inline-flex;
    align-items: center;
    background: #111111;
    color: #ffffff !important;
    padding: 14px 30px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none !important;
    transition: 0.3s;
}

.btn-custom:hover {
    background: #333333;
}

.btn-custom .arrow_right {
    margin-left: 10px;
    font-size: 18px;
}

/* ĐIỀU HƯỚNG SLIDE */
.swiper-button-prev,
.swiper-button-next {
    color: #111111 !important;
    transition: 0.3s;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #e63333 !important;
}

.swiper-pagination-bullet-active {
    background: #111111 !important;
}

.hero-social {
    position: absolute;
    left: 15px;
    bottom: 40px;
    z-index: 10;
}

.hero-social a {
    font-size: 16px;
    color: #111111;
    margin-right: 30px;
    transition: all 0.3s;
    display: inline-block;
}

.hero-social a:hover {
    color: #e63333;
    transform: translateY(-3px);
}

/* ============================================================
    BANNER SECTION
    ============================================================ */
.banner-section {
    padding-top : 100px;
}

.banner-item {
    position: relative;
    margin-bottom: 30px;
}

.banner-item-pic img {
    max-width: 100%;
    height: auto;
    display: block;
}

.banner-item--large,
.banner-item--last {
    display: table;
    margin-left: auto;
}

.banner-item--large .banner-item-text {
    position: absolute;
    left: -210px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    max-width: 450px;
}

.banner-item--middle {
    margin-top: -80px;
}

.banner-item--middle .banner-item-text {
    padding-top: 30px;
}

.banner-item--last {
    margin-top: 70px; 
}

.banner-item--last .banner-item-text {
    position: absolute;
    left: -165px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    max-width: 300px; 
}

.banner-heading {
    font-size: 36px;
    font-weight: 700; 
    color: #111111;
    margin-bottom: 15px;
    line-height: 42px; 
    max-width: 300px; 
    display: block;
}

/* HIỆU ỨNG THU NGẮN 50% CHO SHOP NOW Ở BANNER */
.banner-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111111;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 4px;
    letter-spacing: 4px;
    position: relative;
}

.banner-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #111111;
    transition: all 0.3s ease-in-out;
    transform-origin: left; 
}

.banner-link:hover {
    color: #111111; 
}

.banner-link:hover::after {
    width: 50%; 
    background-color: #e63333;
}


/*css của nguyễn khương tịnh*/
.mf-product {
    padding-top: 75px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.mf-section-heading__title {
    font-size: 36px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 35px;
    text-transform: capitalize;
    line-height: 46px;
}

.mf-tabs { 
    display:flex;
    justify-content: center;
    margin-bottom: 45px; 
}

.mf-tabs__list {
    list-style: none;
}

.mf-tabs__link {
    display: block;
    font-size: 24px;        
    font-weight: 400;      
    color: #6f6f6f;
    text-transform: none;  
    letter-spacing: 0;     
    padding: 5px 40px;    
    text-decoration: none;
    position: relative;
    transition: color 0.2s;
}

.mf-tabs__item.active .mf-tabs__link {
    color:#111111;
    font-weight: 700;
}

.mf-tabs__link:hover {
    color:#111111;
    text-decoration: none;
}

.mf-product__card {
    position: relative;
    background: var(--mf-white);
    border: none !important;
    box-shadow: none !important;
}

.mf-product__img-wrap {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    background-color: transparent;
}

.mf-product__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mf-product__badge {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--mf-white);
    padding: 4px 10px;
    line-height: 1.4;
    z-index: 2;
    border-radius: 0;
}

.mf-product__badge--new  { 
    color:#111111;
    font-size:11px;
    padding: 4px 15px 2px;  
    background-color: #ffffff;
}

.mf-product__badge--sale {
    color: #ffffff;
    font-size: 11px;
    padding: 4px 15px 2px;
    background-color: #111111; 
}

.mf-product__card:hover .mf-product__name {
    opacity: 0;
    transform: translateY(-100%);
}

.mf-btn--cart-hover {
    position: absolute;
    top: 0; left: 0;
    font-size: 13px;
    font-weight: 700;
    color: rgb(229, 54, 55);
    letter-spacing: 1px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: block;
    margin-bottom: 0;
    visibility: visible;
}

.mf-product__card:hover .mf-btn--cart-hover {
    opacity: 1; 
    transform: translateY(0);
}

.mf-product__info {
    padding: 15px 0 0 0;
    text-align: left;
    min-height: 110px;
    position: relative;
}

.mf-product__colors {
    display: flex;
    gap: 6px;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease 0.1s;
}

.mf-product__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mf-product__card:hover .mf-product__colors {
    opacity: 1;
}

.mf-product__color {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
}

.mf-product__actions {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top:-35px;
    transform: translate(50px, -50%);
    display: flex;
    flex-direction: column;
    gap: 0;
    opacity: 0;
    transition: opacity 0.4s ease 0.15s, transform 0.4s ease 0.15s;
    z-index: 5;
}

.mf-product__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color:#ffffff;
    text-decoration: none;
    border-bottom: 1px solid var(--mf-border);
    border-radius: 0;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
    margin-right: 20px;
}

.mf-product__card:hover .mf-product__actions {
    opacity: 1;
    transform: translate(0, -50%);
}

.mf-product__action-btn:last-child { 
    border-bottom: none; 
}

.mf-product__action-btn img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    transition: filter 0.2s ease;
}



.mf-product__name-wrap {
    position: relative;
    height: 22px;       
    margin-bottom: 8px;
    overflow: hidden;
}

.mf-product__name {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(17, 17, 17);
    margin-bottom: 8px;
    text-transform: capitalize;
    line-height: 1.4;
    position: absolute;         
    top: 0; left: 0;           
    width: 100%;               
    opacity: 1;                
    transform: translateY(0);  
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.mf-product__stars {
    margin-bottom: 6px;
    display: flex;
}

.mf-product__stars i {
    font-size: 14px;
    color:#b7b7b7;
    line-height: 1.2;
}

.mf-product__stars .fa-solid{
    color:#f7941d;
} 
    
.mf-product__price {
    font-size: 18px;
    font-weight: 700;
    color:#0d0d0d;
    line-height: 1.2;
}

.mf-deal {
          
    background: #f3f2ee;
    overflow: hidden;     
}


.mf-categories-box {
    background: #fff;
    padding: 30px 30px;
    margin-top: -20px;
    flex-direction: column;
    justify-content: center; 
    gap: 30px;
    height: 50%; 
    width: 80%;  
    z-index: 2;
    overflow: visible;
    position: relative;
    
}

.mf-categories__item {
    font-size: 34px;
    font-weight: 400;
    color: #b7b7b7;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    display: block;
    transition: color 0.2s;
   
}
.text{
    display: inline-block;
    margin-left: 160px;
    line-height: 72px;
}
.mf-categories__item.active {
    font-size: 34px;
    font-weight: 700;
    color: #212529;
}
.gx-custom{
    --bs-gutter-x: 30px;
}
.mf-deal__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 0; 
    z-index: 1;
}

.mf-deal__img {
    max-width: 100%;
    height: auto;
    display: block;
}

.mf-deal__sale-badge {
    position: absolute;
    transform: translateY(-150px);
    right: 85px; 
    color:#ffffff;
    width: 100px;
    height: 100px;
    background-color: #111111;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mf-deal__sale-top {
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.4;
}

.mf-deal__sale-price {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.3;
}

.mf-deal__content {
    padding: 0 80px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 615px;
    align-items: flex-start;
}

.mf-deal__label-top {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #e53637;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 14px;
    line-height: 1;
}

.mf-deal__product-name {
    font-size: 36px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 25px;
    line-height: 52px;
    text-transform: capitalize;
    max-width: 350px;
}

.mf-countdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}

.mf-countdown__numbers {
    display: grid;
    grid-template-columns: auto 20px auto 20px auto 20px auto;
    width: 100%;
    column-gap: 15px;
    font-size: 48px;
    font-weight: 700;
    color: #111111;
    align-items: center;
}

.mf-countdown__numbers span {
    display: inline-block;
    text-align: center;
}

.mf-countdown__numbers .sep {
    text-align: center;
}

.mf-countdown__labels {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    width: 100%;
    margin-top:-10px;
    margin-left: -5px;
    margin-bottom: 20px;
}

.mf-countdown__labels span {
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.mf-btn--primary {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    background-color: #111111;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 14px 30px;
    border: 2px solid #111111;
    border-radius: 0;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    line-height: 1;
    align-self: flex-start;
}


/*css của võ văn huy*/
/*
   INSTAGRAM
*/
.mf-instagram {
    padding-top: 100px;
    padding-bottom: 0;
}

.mf-instagram .row {
    align-items: center;
}

.mf-instagram__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.mf-instagram__item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}
.mf-instagram__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.mf-instagram .col-lg-4, .mf-instagram .col-lg-8 {
    display: flex;
    padding: 0px 15px;
    
}
.mf-instagram .row {
    align-items: center;
}
.mf-instagram__text {
    width: 360px;
    height: 504px;
    display: flex;
    flex-direction: column;
    padding: 130px 0px 0px 0px;
}
.mf-instagram__text h2 {
    font-size: 36px;
    font-weight: 700;
    color: #111111;
    margin: 0 0 20px 0;
}
.mf-instagram__text p {
    font-size: 15px;
    color: #3D3D3D;
    line-height: 1.8;
    margin: 0 0 45px 0;
}

.mf-instagram__text h3 {
    color: #E53637;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

/*
   BLOG
*/
.mf-blog {
    padding: 100px 0px 55px;
}
.mf-section-heading {
    margin-bottom: 45px;
}
.mf-blog .col-lg-12 {
    padding: 0px 15px;
}
.mf-section-heading__label {
    display: block;
    color: #E53637;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.mf-section-heading__title {
    font-size: 36px;
    font-weight: 700;
    color: #111111;
    margin: 0;
}
.mf-blog .col-lg-4.col-md-6.col-sm-6 {
    padding: 0 15px;
}
.mf-blog__card {
    margin-bottom: 45px;
    position: relative;
    overflow: hidden;
}
.mf-blog__body {
    position: relative;
    color: #212529;
    background-color: #FFFFFF;
    margin: -35px 30px 0px;
    padding: 30px 30px 25px;
}
    .mf-blog__img-wrap {
    overflow: hidden;
}
.mf-blog__img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.mf-blog__meta {
    margin-bottom: 12px;
    color: #3D3D3D;
    font-size: 13px;
}
.mf-blog__meta img {
    width: 13px;
}
.mf-blog__title {
    margin-bottom: 10px;
}
.mf-blog__title a {
    font-size: 18px;
    font-weight: 550;
    color: #0d0d0d;
    text-decoration: none;
    line-height: 1.5;
    transition: color 0.3s;
}

.mf-blog__readmore {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #111111;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    position: relative;
    padding: 3px 0px;
    transition: color 0.3s ease;
}
.mf-blog__readmore::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #111111;
    transition: width 0.3s ease, background-color 0.3s ease;
}
.mf-blog__card:hover .mf-blog__readmore::after {
    width: 40%;
    background-color: #e53637;
}

/*
   FOOTER
*/
.mf-footer {
    background: #111111;
    padding-top: 70px;
}
.mf-footer__about {
    margin-bottom: 30px;
}
.mf-footer__logo {
    display: inline-block;
    margin-bottom: 25px;
}
.mf-footer__desc {
    color: #b7b7b7;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 25px;
}

.mf-footer__col {
    margin-bottom: 30px;
}
.mf-footer__col-title {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 22px;
}
.mf-footer__links li {
    margin-bottom: 12px;
}
.mf-footer__links li a,
.mf-footer__link {
    color: #b7b7b7;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.mf-footer__links li a:hover,
.mf-footer__link:hover {
    color: #e53637;
}
.mf-footer__newsletter-desc {
    color: #b7b7b7;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 20px;
}
.mf-newsletter__input {
    width: 100%;
    font-size: 15px;
    color: #ffffff !important;
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid #ffffff!important;
    padding: 10px 40px 10px 0 !important;
    border-radius: 0;
    box-shadow: none !important;
}
.mf-newsletter__input::placeholder {
    color: #b7b7b7;
    opacity:0.3;
}
.mf-newsletter {
    position: relative;  /* thêm dòng này */
}
.mf-newsletter__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);  
    font-size: 18px;
    line-height: 1;
}
.mf-newsletter__btn:hover {
    color: #ffffff;
}
.mf-footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px 0;
    margin-top: 30px;
}
.mf-footer__copy {
    color: #b7b7b7;
    font-size: 15px;
}
.mf-footer__copy a {
    color: #e53637;
    text-decoration: none;
    transition: color 0.3s ease;
}

.mf-footer__copy a:hover {
    color: #ffffff;
}
.mf-newsletter i{
    color:#b7b7b7;
}



@media (max-width: 768px) {
    .hero-bg {
        left: 0;
        object-position: center center;
    }

    .swiper-slide .container {
        padding-top: 80px;
    }

    .hero {
        height: 500px;
    }

    .hero-title {
        font-size: 28px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-social {
        display: none;
    }
    .text {
        margin-left: 20px;
    }

    .mf-categories__item {
        font-size: 22px;
    }

    .mf-deal__content {
        padding: 30px 20px;
        min-height: unset;
    }
    .banner-item--large .banner-item-text,
    .banner-item--last .banner-item-text {
        position: static;
        transform: none;
        max-width: 100%;
        padding: 15px 0;
    }

    .banner-item--middle {
        margin-top: 0;
    }

    .banner-item--last {
        margin-top: 0;
    }
    .mf-instagram__text {
        width: 100%;
        height: auto;
        padding: 30px 15px;
    }
     html, body {
        width: 100%;
        max-width: 100vw;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .hero-bg {
        left: 0;
        object-position: center center;
    }
}